html, body{
    background-image: url("../pics/LgnBg.jpg");
    background-position: center;
    background-size:100% 100%;
    overflow:hidden;
}

.sos{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
