/* fonts */
html{font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;}

html,body{
    width: 100%;
    height:100%;
}

.navbar-default{border-color: transparent;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form , .navbar{
    border-color: transparent;
}
.navbar-default img{height: 270%;}
.navbar{background-color: transparent;}

/*palaceholder colour*/
.input::-webkit-input-placeholder {color: black;} /* WebKit browsers */
.input:-moz-placeholder {color: black; opacity: 1; } /* Mozilla Firefox 4 to 18 */
.input::-moz-placeholder {color: black; opacity: 1; }/* Mozilla Firefox 19+ */
.input:-ms-input-placeholder {color: black;} /* Internet Explorer 10+ */

.form-control{
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.5);
    color: black;
}

.cpy {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 284px;
    background-color: rgba(168,216,185,0.8);
    color: white;
    text-align: center;
    max-height: 20px;
} /*copyright*/

.help,.text {
    color: white;
} /*class 'help', 'text' colour white*/

.DataBox {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}/* Forms in 'register' & 'modify' & 'verify' */

.help:hover, .help:active, .help:visited{
    text-decoration: none;
}

.btn {
    border-radius: 2em;
    background: transparent;
    border: 1px solid;
    border-radius: 2em;
    border-color: white;
    color: white;
} /* all buttons in 'register' & 'modify' & 'verify' */

/* animation */
html {
    -webkit-animation: fadeIn 500ms infinite;
    animation: fadeIn 500ms infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
