/* fonts */
html{font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;}

.navbar-default{border-color: transparent;}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form , .navbar{
    border-color: transparent;
}

.navbar-default img{height: 270%;}

.navbar{background-color: transparent;}

/*palaceholder colour*/
.input::-webkit-input-placeholder {color: black;} /* WebKit browsers */
.input:-moz-placeholder {color: black; opacity: 1; } /* Mozilla Firefox 4 to 18 */
.input::-moz-placeholder {color: black; opacity: 1; }/* Mozilla Firefox 19+ */
.input:-ms-input-placeholder {color: black;} /* Internet Explorer 10+ */

/*global*/
.form-control{
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.5);
    color: black;
}

.background{
    position:fixed;
    width:100%;
    height:100%;
}

#help{
    min-width: 300px;
    cursor: default;
}

#response{
    color: red;
}

#Rectangle{
    height: 4.5ch;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3em;
}

.cpy{
    min-width: 284px;
    max-width: 340px;
    background-color: rgba(168,216,185,0.8);
    border-radius: 0.5em;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-top: 5%;
}

.hint{color: red;}

/*index*/
#greeting{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 1.5em;
    letter-spacing: 6px;
    position: relative;
    margin-bottom: 10%;
}

.grText{
    color: white;
}

#sec{
    display: none;
}

#secBtn{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

#txt{
    margin-top: 20%;

}

.lgnBtn{
    position: relative;
    background: repeating-linear-gradient(to right,rgba(212,63,58,0),rgba(212,63,58,0.75),rgba(212,63,58,0));
    border-color: transparent;
    color: rgba(255,255,255,0.8);
    border-radius: 0px;
    height: 30px
}


/*modify*/
#main{
    margin-top: 25%;
}



#tips{color: white;}

.selHint{display: none;}

/*register*/
#MK{
    line-height: 2.5;
    position: fixed;
    left: 0;
    right: 0;
}

#subBtn{border-radius: 2em;}

#Sustext{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}


#cpy_su{
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    display: none;
    text-align: center;
    max-height: 20px;
}


/*help*/
#sos{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/*verify*/
#mod_form{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}


/* animation */
#main,#mod_form,.cpy {
    -webkit-animation: fadeIn 0.5s infinite;
    animation: fadeIn 0.5s infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

